<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WindowsTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="WindowsManipulations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <WindowsTools.Properties.Settings>
            <setting name="LocationAndSizeForm_Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="PasswordsForm_Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="SendCommandsForm_Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowsTrackingForm_Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ScreenSaverPath" serializeAs="String">
                <value>%SystemRoot%\System32\ssText3d.scr</value>
            </setting>
            <setting name="DownloaderForm_Proxy" serializeAs="String">
                <value>http://your.proxy:8080</value>
            </setting>
            <setting name="DownloaderForm_Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloaderForm_LocalPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainForm_LogRefresh" serializeAs="Binary">
                <value>false</value>
            </setting>
        </WindowsTools.Properties.Settings>
    </userSettings>
</configuration>
